

<form class="" action="/stocks" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name" value="">
  <label for="box">Box: </label>
  <input type="text" name="box" value="">

  <input type="submit" value="Create">
</form>
