

<form class="" action="/stock_boxes" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name" value="">
  <label for="content">Stocks: </label>
  <input type="textarea" name="content" value="">
  <label for="date_changed">Changed: </label>
  <input type="date" name="date_changed" value="">
  <label for="date_due">Due: </label>
  <input type="date" name="date_due" value="">
  <input type="submit" value="Create">
</form>
